<div class="map" style="background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200')">
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <div class="flat-show-card">
        <h3><%= @flat.name %></h3>
        <h5><%= @flat.address %></h5>
      </div>
      <div class="flat-show-card">
        <h3>A bit more about this flat...</h3>
        <p><%= @flat.description %></p>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="flat-show-card">
        <h5>Book this place !</h5>
        <form action="">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-addon" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
      </div>
      <div class="flat-show-card">
        <h3>Details !</h3>
        <div class="flex">
          <i class="fas fa-user-friends"></i> <%= @flat.number_of_guests %>
          <i class="fas fa-euro-sign"></i> <%= @flat.price_per_night %>
        </div>
      </div>
    </div>
  </div>
</div>
